:root {
  font-size: 16px;
}

@media (width < 500px) {
  :root {
    font-size: 6px;
  }
  .Container {
    margin: 0% 5%;
    margin-bottom: 10%;
  }

  p {
    margin-left: 5%;

    margin-right: 5%;
  }
}
